
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<div class="jumbotron">
    <h1>Mail Logger</h1>
    <p class="lead">This is a sample site for a <strong>Logging</strong> App</p>
    <p><a href="https://www.google.com.ng" class="btn btn-primary btn-lg">Learn More &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>N-Log</h2>
        <p>
            Using N-Log
        </p>
        <p><a class="btn btn-default" href="@Url.Action("NLog","LogError")">Check it out &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Log 4 Net</h2>
        <p>Using Log4Net</p>
        <p><a class="btn btn-default" href="@Url.Action("Log4net","LogError")">Check it Out &raquo;</a></p>
    </div>

</div>






